<div class='container'>
  <div class='row mt-5'>
    <div class="col-auto mx-auto text-center">
      <h3 class="mb-3">修改支出紀錄</h3>
      {{> message}}

      <form action='/records/{{foundRecord._id}}?_method=PUT' method='post'>
        <div class='row g-3 align-items-center mb-3'>
          <div class='col-auto'>
            <label for='name' class='col-form-label'>名稱</label>
          </div>
          <div class='col-9'>
            <input name='name' type='text' id='name' value='{{foundRecord.name}}' class='form-control'
              aria-describedby='' required />
          </div>
        </div>

        <div class='row g-3 align-items-center mb-3'>
          <div class='col-auto'>
            <label for='date' class='col-form-label'>日期</label>
          </div>
          <div class='col-9'>
            <input name='date' type='date' id='date' value='{{foundRecord.date}}' class='form-control'
              aria-describedby='' required />
          </div>
        </div>

        <div class='row g-3 align-items-center mb-3'>
          <div class='col-auto'>
            <label for='category' class='col-form-label'>類別</label>
          </div>
          <div class='col-9'>
            <select name='categoryId' id='category' class='form-select' aria-label='Default select example'>
              <option selected>select</option>
              {{#each categories}}
              {{!-- ../ 代表上上層(在each外面) --}}
              <option value="{{this._id}}" {{#if ../foundRecord.categoryId._id}} {{ifeq this._id
                ../foundRecord.categoryId._id}} {{else}} {{ifeq this._id ../foundRecord.categoryId}} {{/if}}>
                {{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class='row g-3 align-items-center mb-3'>
          <div class='col-auto'>
            <label for='amount' class='col-form-label'>金額</label>
          </div>
          <div class='col-9'>
            <input name='amount' type='text' id='amount' value='{{foundRecord.amount}}' class='form-control'
              aria-describedby='' required />
          </div>
        </div>

        <button type='submit' class='btn btn-outline-secondary'>送出</button>

      </form>
    </div>


  </div>

</div>