<div class='container mt-5 '>
  <div class="row">
    <div class="col-md-auto mx-auto">
      <div class="text-center">
        <h1>支出紀錄</h1>
      </div>

      <div class="row justify-content-end">
        <div class="col-md-auto">
          <form action="/filter">
            <select name='category' class='form-select' aria-label='Default select example'
              onchange="this.form.submit()">
              <option value='' selected>類別</option>
              <option value='家居物業' {{#ifeq category '家居物業' }}{{/ifeq}}>家居物業</option>
              <option value='交通出行' {{#ifeq category '交通出行' }}{{/ifeq}}>交通出行</option>
              <option value='休閒娛樂' {{#ifeq category '休閒娛樂' }}{{/ifeq}}>休閒娛樂</option>
              <option value='餐飲食品' {{#ifeq category '餐飲食品' }}{{/ifeq}}>餐飲食品</option>
              <option value='其他' {{#ifeq category '其他' }}{{/ifeq}}>其他</option>
            </select>
          </form>
        </div>
      </div>

      <div class="row p-2 d-flex justify-content-between">
        <div class="col-md-auto">
          <h3>總金額</h3>
        </div>
        <div class="col-md-auto">
          <h2>$ {{totalAmount}}</h2>
        </div>
      </div>



      {{> message}}
      <ul class="list-group" style="width:580px">
        {{#each records}}
        <li class="list-group-item list-group-item-dark mb-3 rounded d-flex align-items-center ">
          <div class="me-3" style="width:50px">
            <h2><i class='{{this.icon}}'></i></h2>
          </div>

          <div class="d-flex flex-column me-5">
            <div>{{this.name}}</div>
            <div>{{this.date}}</div>
          </div>

          <div class="row flex-fill align-items-center d-flex justify-content-between">
            <div class="col-5">
              <h2>$ {{this.amount}}</h2>
            </div>
            <div class="col-5 d-flex justify-content-between align-items-center">
              <div><a class='btn btn-secondary' href='/records/{{this._id}}/edit'>編輯</a></div>
              <div>
                <form style="display:inline" action="/records/{{this._id}}?_method=DELETE" method="post"><button class="btn btn-danger"
                    type="submit">刪除</button></form>
              </div>
            </div>

          </div>





        </li>
        {{/each}}
      </ul>

      <div class="text-center"><a class='btn btn-info' href='/records/new'>新增支出</a></div>

    </div>
  </div>

</div>