<div class='container'>
  <div class='row mt-5'>
    <div class="col-auto mx-auto">
      <div class="mb-3"><span class="me-3">*必填</span>
        <h4 class="d-inline">請輸入你的支出</h4>
      </div>

      {{> message}}
      <form class="text-center" action='/records' method='post'>
        <div class='row g-3 mb-3'>
          <div class='col-auto'>
            <label for='name' class='col-form-label'>名稱*</label>
          </div>
          <div class='col-9'>
            <input name='name' type='text' id='name' value='{{name}}' class='form-control' aria-describedby=''
              required />
          </div>
        </div>

        <div class='row g-3 mb-3'>
          <div class='col-auto'>
            <label for='date' class='col-form-label'>日期*</label>
          </div>
          <div class='col-9'>
            <input name='date' type='date' id='date' value='{{date}}' class='form-control' aria-describedby=''
              required />
          </div>
        </div>

        <div class='row g-3 mb-3'>
          <div class='col-auto'>
            <label for='category' class='col-form-label'>類別*</label>
          </div>
          <div class='col-9'>
            <select name='categoryId' id='category' class='form-select' aria-label='Default select example'>
              <option selected>select</option>
              {{!-- each array 沒有 cid 這個object 所以會是undefined --}}
              {{#each categories}}
              <option value='{{this._id}}'{{#ifeq this.selectedCategoryId this._id }}{{/ifeq}}>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class='row g-3 mb-3'>
          <div class='col-auto'>
            <label for='amount' class='col-form-label'>金額*</label>
          </div>
          <div class='col-9'>
            <input name='amount' type='text' id='amount' value='{{amount}}' class='form-control' aria-describedby=''
              required />
          </div>
        </div>

        <button type='submit' class='btn btn-outline-secondary'>新增支出</button>

      </form>
    </div>


  </div>

</div>